*{
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	background-color: #eaeded !important;
	font-family: "MyriadProRegular";
}

#colophon {
	display: none;
}

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}

.text-center {
	text-align: center;
}
.container {
	width: 100%;

	@media (min-width: 1200px) {
		width: 966px;
	}
}

@media (min-width: 1200px) {

}

@font-face {
	font-family: "MyriadProRegular";
	src: url(assets/fonts/MyriadProRegular/MyriadProRegular.eot);
	src: url(assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix)format("embedded-opentype"),
	url(assets/fonts/MyriadProRegular/MyriadProRegular.woff) format("woff"),
	url(assets/fonts/MyriadProRegular/MyriadProRegular.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('assets/fonts/MyriadProBold/MyriadPro-Bold.eot');
  src: url('assets/fonts/MyriadProBold/MyriadPro-Bold.woff2') format('woff2'),
       url('assets/fonts/MyriadProBold/MyriadPro-Bold.woff') format('woff'),
       url('assets/fonts/MyriadProBold/MyriadPro-Bold.ttf') format('truetype'),
       url('assets/fonts/MyriadProBold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
       url('assets/fonts/MyriadProBold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: "ArialRegular";
	src: url("assets/fonts/ArialRegular/ArialRegular.eot");
	src: url("assets/fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
	url("assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
	url("assets/fonts/ArialRegular/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.d-inline-flex {
	display: inline-flex;
}

//Albums
.albums__all {
	display: none;
}

.albums__covers {
	//display: none;
}

.albums__list {
	display: none;
}

.color-picker {
	position: fixed;
	padding: 10px;
	top: 45px;
	right: 0;
	border-radius: 0 0 0px 10px;
	z-index: 99999;
	background-color: rgba(0, 0, 0, .28);

	&:empty {
		padding: 0;
	}

	li {
		cursor: pointer;
		margin-top: 10px;
		color: #fff;

		span {
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 20px;
			vertical-align: middle;
			margin: 0px 5px 2px;
		}
	}
}

.thumbs {
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-align: center;
	z-index: 99999;
	opacity: .2;
	transition: opacity .3s;

	&:hover {
		opacity: 1;
	}
}

.thumbs__thumb {
	display: inline-block;
	width: 80px;
	height: 60px;
	overflow: hidden;
	margin: -3px 3px 0;
	transition: width .3s, height .3s, border .3s;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.thumbs__thumb--active {
	width: 84px;
	height: 64px;

	img {
		border: 2px solid #fff;
	}
}

.swiper-slide {
	position: relative;
	max-width: 298px;
	height: 200px;
	//margin: 0 10px 20px;
	padding: 4px;
	background-color: #fbfbfb;
}

.swiper-slide-img-wrap {
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/*HEADER*/
#toggle-menu > div a {
	color: #fff;
	text-decoration: none;
}

.header-bg {
	display: flex;
	background-image: url(assets/images/headerBG.jpg);
	min-height: 90vh;
	background-size: cover;
	background-position: bottom center;
}

.js-show-more {
	position: relative;
}

.limit-text {
	position: absolute;
	width: 100%;
	max-height: 100%;
	margin-top: 13px;
	line-height: 1.2;
	overflow: hidden;
	background-color: #eaeded;
	z-index: 1;
	transition: max-height .3s;
	white-space: pre-line;
}

.js-read-more {
	position: absolute;
	bottom: -25px;
	right: 0;
	color: #000;
	font-weight: 900;
	z-index: 1;
}

.js-read-less {

}

.nav-menu {
	ul {
		margin-top: 50px;
	}
}

.footer ul,
.nav-menu ul{
	display: flex;
	color: #000000;
	font-size: 1.126rem;
	list-style-type: none;
}
.footer ul {
	padding: 0;
}

.nav-menu li,
.footer li {
	margin-left: 15px;

	&::after {
		content: '-';
		margin-left: 15px;
		vertical-align: text-top;
	}

	&:last-of-type::after {
		content: '';
	}
}
.footer a,
.nav-menu a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
.footer a:hover,
.nav-menu a:hover{
	text-decoration: none;
	color: #000000;
	opacity: 0.8;
}


.tagline {

}

.logo {
	margin-top: 8px;
	background-image: url(assets/images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	height: 65px;

	@media (min-width: 576px) {
		background-position: center;
		margin-top: 60px;
		height: 115px;
	}

	@media (min-width: 768px) {
	}

	@media (min-width: 992px) {
		background-position: left;
		margin-left: 10px;
		margin-top: 20px;
	}

	@media (min-width: 1200px) {
		margin-left: -80px;
	}
}
.tag-text {
	display: inline-flex;
	h3 {
		font-size: 24px;
		font-weight: 100;
		letter-spacing: .3px;
		color: #60606e;
		text-transform: uppercase;
	}
}
.arrow-down{
	margin-top: 24px;
	margin-bottom: 8px;
	background-image: url(assets/images/row.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 6rem;
	height: 41px;
}

/*INFORMATION*/
.info {
	padding-top: 25px;
}

.info p {
	line-height: 1.5;
	font-size: 16px;
	letter-spacing: -.03px;
	text-indent: 14px;
}

.header-h2 {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #4b4b4b;
	text-transform: uppercase;
}


/*OUR WORKS*/
.sets {
	margin-bottom: 40px;
}
.set {
	margin-top: 30px;
	margin-bottom: 20px;
	cursor: pointer;

	img {
		width: 100%;
		border: 9px solid #fff;
	}
}
#ourWorks{
	position: relative;
}
div#bigYellow{
	background-image: url(assets/images/bigyellow.png);
	/*background-position: bottom left;*/
}

#smallYellow{
	background-image: url(assets/images/smallYellow.png);
}

#smallColor{
	background-image: url(assets/images/smallLogo.png);
}

#bigColor{
	background-image: url(assets/images/bigColor.png);
	/*background-position: bottom right;*/
}

.work-examples{
	background-repeat: no-repeat;
	background-size: contain;
	height: 18rem;
	background-position: bottom center;
	cursor: pointer;
}
.work-examples-big{
	/*position: relative;*/
	/*width: 53rem;*/
}
.work-examples__album {
	display: none;
}

.work-examples-text {

	strong {
		color: #000;
		font-weight: bold;
		margin-right: 6px;
	}

	p {
		color:  #60606e;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		margin-top: 13px;
		text-align: justify;
		white-space: pre-line;
	}
}

/*GALLERY*/
.slide-gallery{
	margin-bottom: 2rem;
}
.gallery-section h2{
	color:  #000000;
	font-size: 1.864rem;
	font-weight: 700;
	line-height: 1.61;
	transform: scaleX(1.006);
}

.my-slides > a > img{
	width: 290px;
	margin: 5px;
}


.slider-buttons{
	background-image: url(assets/images/arrowLeft.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 86px;
}

#slideGallery > div > div > div:nth-child(3){
	transform: rotate(180deg);
	background-position: center;
}


/*CONTACT US*/

#contactsInfo > div > div > div.contacts-col.contact-us.col-sm-12.col-md-10.col-lg-7.col-xl-6 > div > div.user-information.user-info > input[type="text"]:nth-child(2){
	color: #red;
}

.contacts-info {
	padding: 0 0 30px;
}
.contacts-info h3 {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	@media (min-width: 576px) {
		margin-bottom: 45px;
	}
}
.contacts-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.user-info {
	button,
	input,
	textarea {
		font-size: 12px;
		padding-left: 10px;
		background-color: #fff;
		font-weight: 700;
		margin-top: 15px;
		@media (min-width: 576px) {
			padding-left: 20px;
			margin-top: 30px;
		}
	}

	input,
	textarea {
		border: 1px solid #d2d5d5;

		@include placeholder {
			color: #ccc;
		}
	}

	textarea {
		padding-top: 10px;
		width: 100%;
		height: 60px;
		@media (min-width: 576px) {
			height: 200px;
			padding-top: 15px;
		}
	}

	> span {
		width: 100%;
		flex-basis: 100%;

		@media (min-width: 576px) {
			width: 50%;
			flex-basis: 50%;
		}

		&:first-of-type {
			margin-right: 20px;
		}
	}

	input {
		height: 30px;
		width: 100%;
		@media (min-width: 576px) {
			height: 52px;
		}
	}

	[type="submit"] {
		cursor: pointer;
		width: auto;
		height: 30px;
		padding: 0 25px;
		color: #656565;
		@media (min-width: 576px) {
			height: 52px;
		}
	}
}

div.wpcf7 .ajax-loader {
	position: absolute;
}

.user-send.user-info  input{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.user-information{
	display: flex;
	justify-content: space-between;
}

.user-message textarea{

}

.contact-us,
.our-contacts{
	/*background-color: red;*/
}

.our-contacts{
	display: inline-block;
}
.our-info{
	font-size: 16px;
	color: #828282;
	font-weight: 400;
	line-height: 1.879;
	text-align: left;
}
.our-info a {
	margin-left: 10px;
	margin-right: 10px;
	color: #4f7965;
}
.our-info a:hover{
	text-decoration: none;
	color: #fff000;
}
.our-mail{
	margin-bottom: 2rem;
}

.our-mail__type {
	font-size: 16px;
	min-width: 30px;
	display: inline-block;
	color: #8a8b94;
	margin-left: 40px;
	text-transform: none;

	a {
		color: inherit;
	}
}
.social-networks{
	display: inline-flex;
	float: right;

	> div {
		width: 32px;
		margin: 0 10px;
	}

	img {
		width: 100%;
	}
}

.tagline {
	padding-bottom: 30px;

	.header-h2 {
		margin: 0;
	}
}
/*FOOTER*/

.footer {
	background-color: #f3a714;
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1199px){
	body{
		/*background-color: blue !important;*/
	}
	.my-slides > a > img{
		width: 240px;
		margin: 5px;
	}

}
@media (max-width: 991px){
	body{
		/*background-color: grey !important;*/
	}
	#scroll-menu > ul{
		display: none;
	}
	.sideBar{
		display: block;
		background-image: url(assets/images/menu.png);
		position: absolute;
		top: 0rem;
		left: -1rem;
		background-size: cover;
		margin-top: 1rem;
		width: 4rem;
		height: 4rem;
		margin-left: 2.5rem;
	}
	.my-slides > a > img{
		width: 175px;
		margin: 5px;
	}
	.social-networks{
		margin-top: 3rem;
	}

}
@media (max-width: 767px){
	body{
		/*background-color: red !important;*/
	}
	#slideGallery > div > div > div.container.my-slides.fad.col-10 > a:nth-child(9){
		display: none;
	}
	.sideBar{
		margin-top: 2rem;
		width: 2.5rem;
		height: 2.5rem;
	}
	.tag-text h3{
		font-size: 1.5rem;
	}
	.arrow-down{
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}
}
@media (max-width: 543px){
	body{
		/*background-color: grey !important;*/
	}
	.tag-text h3{
		font-size: 1.2rem;
	}
	.arrow-down{
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		height: 2.5rem;
		width: 2.5rem;
	}
	.sideBar{
		margin-top: 1.7rem;
		width: 2rem;
		height: 2rem;
	}
	.my-slides > a > img{
		width: 122px;
		margin: 5px;
	}

	.user-information{
		flex-direction: column;
		/*background-color: green;*/
	}
	.user-information input{
		width: 100%;
	}
	.user-info > input[type="text"]:nth-child(1){
		margin-bottom: 1rem;
	}
	.footer ul{
		font-size: 0.8rem;
		padding-left: 1rem;
	}
	.dash{
		display: none;
	}
}

.non-color {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}